.aaa {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.image {
  display: flex;
  width: 400px;
  height: 400px;
}
.modal-body {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}
